
<a href="@Url.Action("Index", "Home", new {area = ""})">Home</a>
<a href="@Url.Action("Index", "Home", new {area = "Alunos"})">Cadastro de Aluno</a>
<a href="@Url.Action("Index", "Home", new {area = "Logins"})">Login</a>
<a href="@Url.Action("Sair", "Home", new {area = "Logins"})">Sair</a>

